#Upgrade_Title {
	margin-left: 150px;
	padding: 0px;
}


#Upgrading {
	position: relative;
	width: 1300px;
	height: 1140px;
	margin-top: 140px;
	margin-left: 310px;
	background: rgba(229,229,229,1);
}

#Account_Difference {
	margin-left: 100px;
	margin-right: 100px;
	width: 1120px;
	height: 620px;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.Account{
	margin-top: 110px;
	max-width: 452px;
	position: relative;
	float: left;
}

#Upgrade_Subliner{
	height: 420px;
	width: 5px;
	margin-left: 0px;
	position: relative;
	float: left;
}

#Payment {
	position: relative;
	margin-left: 100px;
	margin-right: 100px;
	width: auto;
	height: auto;
}

.Double_Column_Box_L{
	width: 460px;
	position: relative;
	float: left;
}

.Double_Column_Box_R{
	width: 460px;
	position: relative;
	float: right;
}


#Card_Number_Box {
	position: relative;
	float: left;
}

#Upgrade_now {
	margin-left: 830px;
	margin-top: -50px;
	position: relative;
	float: left;
	border-radius: 55px;
	background: rgba(112,112,112,1);
	width: 250px;
	height: 80px;
	font-family: Lato;
	font-size: 30px;
	color: white;
	line-height: 80px;
	text-align: center;
}