#Login {
	position: relative;
	height: 600px;
	width: 1200px;
	margin: auto;
	padding: 100px;
	padding-top: 200px;
	padding-bottom: 0px;
	background: rgba(229,229,229,1);
	display: flex;
	justify-content: space-around;
}

.Set{
	height: 600px;
	width: 500px;
	float: left;
	position: relative;
}

#Login_Subliner{
	height: 420px;
	width: 5px;
	margin: 0px;
	float: left;
	position: relative;
}

#Payment {
	position: relative;
	margin-left: 100px;
	margin-right: 100px;
	width: auto;
	height: auto;
}

#Card_Number_Box {
	position: relative;
	float: left;
	margin-bottom: 35px;
}
